# ckpt
asset
checkpoints
pretrain_models

# debug
tmp
.vscode
agent_space

# data
eval/benchmark
eval/record
data/seedtts_testset

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
pretrained_models/
outputs/
# C extensions
*.so

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore